
/* görev 1 */
/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ece7e7;
}

.container {
    text-align: center;
}

.kutu {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    transition: background-color 0.3s;
} */
 


